cycler==0.10.0
et-xmlfile==1.0.1
jdcal==1.4.1
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.17.4
openpyxl==3.0.4
pandas==0.25.3
Pillow==7.2.0
pycparser==2.20
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
pythonnet==2.5.1
pytz==2019.3
PyVISA==1.10.1
six==1.13.0
